@font-face {
 font-family: "OpenSans-Light";
 src: url("../fonts/OpenSans-Light.ttf") format("ttf");
 font-style: normal;
 font-weight: 300;
}

@font-face {
 font-family: "OpenSans-Italic";
 src: url(../fonts/OpenSans-Italic.ttf) format("ttf");
 font-style: normal;
 font-weight: 300;
}
