.video {
 margin-bottom: 40px;
 h2 {
  color: #2d2d2d;
  text-align: center;
  width: 246px;
  margin: 0 auto;
  margin-bottom: 40px;
  line-height: 30px;
 }
 iframe {
  width: 294px;
  height: auto;
  margin: 0 auto;
  display: flex;
 }
}
