.service {
 margin-bottom: 40px;

 @media (min-width: 1200px) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
 }

 &__item {
  @media (min-width: 1200px) {
   width: 350px;
  }

  img {
   width: 50px;
   margin-bottom: 20px;
  }

  h2 {
   color: #2d2d2d;
   font-size: 20px;
   line-height: 30px;
   margin-bottom: 20px;
  }

  p {
   color: #2d2d2d;
   margin-bottom: 20px;
  }
 }
}
