.company {
 margin-bottom: 60px;

 @media (min-width: 1200px) {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 img {
  display: flex;
  margin: 0 auto;
  margin-bottom: 35px;
  height: 100%;

  @media (min-width: 1200px) {
   margin: unset;
  }

  &:nth-child(1n) {
   width: 160px;
  }

  &:nth-child(2n) {
   width: 83px;
  }

  &:nth-child(3n) {
   width: 160px;
  }

  &:nth-child(4n) {
   width: 94px;
  }

  &:nth-child(5n) {
   width: 141px;
  }

  &:nth-child(6n) {
   width: 108px;
  }
 }
}
